<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eleganzit.tag">

    <application
        android:allowBackup="true"
        android:anyDensity="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:xlargeScreens="true">
        <activity android:name=".ui.activity.AddEducationPreference"></activity>
        <activity android:name=".ui.activity.GetCurrentEducation" />
        <activity android:name=".ui.activity.AddWorkActivity" />
        <activity android:name=".ui.activity.GetWorkActivty" />
        <activity android:name=".ui.activity.AddEducationActivity" />
        <activity android:name=".ui.activity.GetEducationActivity" />
        <activity android:name=".ui.activity.AddPersonalInfoActivity" />
        <activity
            android:name=".PrivacyPolicy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.MyProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.ProfileTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.AskAQuestionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".IntroSliderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LetsGetStartedActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TermsAndCondition"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".VerificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ForgotPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>